body,html{
	height: 100%;
	margin: 0;
	background: rgb(44, 47, 59);
   	background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
	background-image: linear-gradient(to right, #DECBA4, #3E5151);
}
.card-container{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
	border-radius: 2px;
}
.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	width: 33.33%;
    height: 90%;
	border-radius: 25px !important;
	background-image: linear-gradient(to right, #DECBA4, #3E5151)!important;
	border: 2px solid #FFC13C;
}
.card-body {
    overflow-y: auto;
    height: calc(100% - 2.5rem - 2.5rem); /* subtract the heights of the header and footer */
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.chat-response-wrapper {
	margin-top: auto;
	margin-bottom: auto;
    margin: 10px;
	border-radius: 25px;
	background-color: #e2f0ef;
	padding: 10px;
	position: relative;
	border: 2px solid #9cf3b0;
	}
.chat-response-wrapper p {
    font-size: 0.75rem; /* Adjust as needed */
    line-height: 1.3; /* Adjust as needed */
    margin-bottom: 0.2rem; /* Remove default paragraph margin */
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
.msg_head{
	position: relative; 
}
.card-header:after{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
	content:'';
	display: block;
	height: 2px;
	width: 100%;
	background: #FFC13C;
	margin-top: 5px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.chatbox{
	overflow-y: auto;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
.type_msg:focus{
	box-shadow:none !important;
  	outline:0px !important;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: #0000004d !important;
	border:0 !important;
	color: skyblue !important;
	cursor: pointer;
}
.chatbox {
	overflow-y: auto;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.chat-response-wrappers{
	margin-top: auto;
	margin-bottom: auto;
    margin: 10px;
	border-radius: 25px;
	background-color: #e2f0ef;
	padding: 10px;
	position: relative;
}
.chat-response-wrappers p {
    font-size: 0.75rem; /* Adjust as needed */
    line-height: 1.3; /* Adjust as needed */
    margin-bottom: 0.2rem; /* Remove default paragraph margin */
}
